@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

body {
    color: #111;
    background-color: #000;position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Thambi', cursive;
    font-size: 5rem;
    min-height: 100vh;
}

.container>span {
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {

    0%,
    100% {
        color: #fff;
        text-shadow: 0 0 12px lime,
            0 0 50px lime,
            0 0 100px lime;
    }

    10%,
    90% {
        color: #111;
        text-shadow: none;
    }
}

.container>span:nth-child(2) {
    animation-delay: 0.25s;
}

.container>span:nth-child(3) {
    animation-delay: 0.5s;
}

.container>span:nth-child(4) {
    animation-delay: 0.75s;
}

.container>span:nth-child(5) {
    animation-delay: 1s;
}

.container>span:nth-child(6) {
    animation-delay: 1.25s;
}

.container>span:nth-child(7) {
    animation-delay: 1.5s;
}